@charset "utf-8";

:root {
	--gap: 20px;
	--pale: #f5dc89;
	--bg: #fafafa;
	--border: #ddd;
	--text: #111;
	--container-pad: 20px;
	--rounded: 10px;
	--primary: #4caf50;
	--accent: #cfaF8d;
}

h1,h2,h3,h4,h5,h6{
	text-align: center;
}
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: var(--bg);
	color: var(--text);
}

.frame {
	width: 1100px;
	max-width: 96vw;
	background: white;
	border: 10px solid #266f65;
	padding: var(--container-pad);
	margin: 0 auto;
	box-sizing: border-box;
	border-radius: var(--rounded);
}

.top {
	display: grid;
	grid-template-columns: 160px 1fr;
	gap: var(--gap);
	align-items: start;
	margin-bottom: var(--gap);
}

.logo {
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo img {
	width: 140px;
	height: 125px;
	border-radius: 4px;
}

.top-right {
	display: flex;
	flex-direction: column;
}

.nav-buttons {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	gap: 8px;
}

.nav-buttons button {
	background-color: var(--accent);
	border: 2px solid #2c3a28;
	padding: 10px 26px;
	border-radius: 12px;
	cursor: pointer;
	font-size: 16px;
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.03);
}

.nav-buttons button:hover {
	color: white;
}

.nav-buttons button:active {
	color: yellow;
}

.blog-title {
	text-align: center;
	font-size: 30px;
	background-color: #C5C998;
	padding: 5px;
	border-radius: 4px;
	margin-top: 10px;
}

.main {
	display: grid;
	grid-template-columns: 10% 90%;
	gap: var(--gap);
	align-items: start;
	margin-bottom: var(--gap);
}

.left-nav,
.content {
	background: var(--pale);
	border-radius: 4px;
	box-sizing: border-box;
	padding: 12px 12px 12px 12px;
	
}

.content {
	font-size: 18px;
	text-align: justify;
}
.list {
			font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
			text-align: left;
		}
.footer {
	background: var(--pale);
	padding: 14px;
	text-align: center;
	border-radius: 4px;
	font-size: 18px;
	
}

@media (max-width: 900px) {
  .top {
    grid-template-columns: 120px 1fr;
  }

  .main {
    grid-template-columns: 1fr;
  }

  .left-nav{
    min-height: 120px;
  }

  .blog-title {
      font-size: 24px;
  }
}
